body {
  background-color: #2C2C2E;
  display: flex;
  flex-direction: column;
  min-width: 375px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  margin: 0;
  background-color: #212529;
}

h1 {
  color: #D1D1D1;
  margin: 0;
  order: 0;
}


header {
  flex: 0 55px;
  color: #E5E5E5;
  background-color: #0A0A23;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

main {
  font-style:sans-serif;
  color: #E5E5E5;
  background-color: #2C2C2E;
  flex: 1 calc(100vh - 110px);
  min-height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  flex: 0 30px;
}

menu {
  display: flex;
  flex-direction: row !important;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  order: 1;
}

footer a {
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
