.body {
  background-color: #2C2C2E !important;
  display: flex;
  flex-direction: column;
  min-width: 375px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  margin: 0;
  background-color: #212529;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: #0A0A23;
  color: #E5E5E5;
}

h1 {
  color: #D1D1D1;
  margin: 0;
}

nav {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

nav a:hover{
  font-weight: bolder;
}

main {
  font-style:sans-serif;
  color: #E5E5E5 !important;
  background-color: #2C2C2E !important;
  flex: 1;
  min-height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

menu {
  display: flex;
  flex-direction: row !important;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

footer {
  flex-shrink: 0;
  background-color: #0A0A23;
}

footer a {
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
