h1 {
  color: #D1D1D1;
  margin: 0;
  order: 0;
}

h3 {
  border-bottom: solid #E5E5E5;
}

p {
  text-align: center;
}

.streak {
  font-weight: bolder;
}

.list-text {
  padding-right: 5px;
  list-style-type: none;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.history {
  border-radius: 25px;
  background-color: #0DCAF0 !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  width: 100% !important;
}

.email {
  font-weight: bolder;
}

ul {
  background-color: #D1D1D1;
  color:#2C2C2E;
}

main {
  font-style:sans-serif;
  color: #E5E5E5;
  background-color: #2C2C2E;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box {
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image img {
  border: 5px solid #E5E5E5;
  max-width: 80%;
  object-fit: contain;
  width: 80%;
  height: auto;
}

.log-out {
  color:#0DCAF0;
}

.log-out:hover {
  font-weight: bolder;
}

.history .list-text {
  text-align: center;
}


@media (max-height: 600px) {
  main {
    flex: 1 100vh;
  }
}